VITE_APP_BASE=
VITE_APP_TITLE=

VITE_CLIENT_ID=
VITE_ENTRA_CLIENT_ID=

VITE_AUTH_AUTHORITY=
VITE_AUTH_REDIRECT_URI=
VITE_AUTH_POST_LOGOUT_REDIRECT_URI=

VITE_API_URL=
VITE_ACTIVE_SITES_URL=
VITE_MCP_URL=
